In [1]:
import numpy as np
import pandas as pd
from textblob import TextBlob
import nltk
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import warnings

warnings.filterwarnings("ignore")

In [117]:
df = pd.read_csv('Movie-2023-06-15.csv')[['description','name']]
df.columns = ['Synopsis','Movie_Name']
df1 = df.copy()
df1 = df.head(2)
df1["Synopsis"] = df1["Synopsis"].str.lower()
df1["Synopsis"] = df1["Synopsis"].apply(lambda x: re.sub(r"[^a-zA-Z]+", " ", x))
# df1["Synopsis"] = df1["Synopsis"].apply(lambda x: word_tokenize(x))
# df1["Synopsis"] = df1["Synopsis"].apply(lambda x: [str(TextBlob(word).correct()) for word in x])
df1['Synopsis']
df1

,Synopsis,Movie_Name
0,an orphaned boy enrolls in a school of wizardr...,Harry Potter and the Sorcerer's Stone
1,an american agent under false suspicion of dis...,Mission: Impossible

In [71]:
stop_words = set(stopwords.words("english"))
df1["Synopsis"] = df1["Synopsis"].apply(lambda x: [word for word in x if len(word)>2 or word not in stop_words])
df1['Synopsis']

0    [orphan, boy, enrol, school, wizard, where, le...
1    [american, agent, under, false, suspicion, dis...
Name: Synopsis, dtype: object

In [120]:
lemmatizer = WordNetLemmatizer()

tag_mapping = {
    'NN': 'n',
    'NNS': 'n',
    'NNP': 'n',
    'NNPS': 'n',
    'VB': 'v',
    'VBD': 'v',
    'VBG': 'v',
    'VBN': 'v',
    'VBP': 'v',
    'VBZ': 'v',
    'JJ': 'a',
    'JJR': 'a',
    'JJS': 'a',
    'RB': 'r',
    'RBR': 'r',
    'RBS': 'r',
    'WRB':'r',
    'DT':'n',
    'UH':'n',
    'WDT':'n',
    'IN':'n',
    'PRP':'n',
    'PRP$':'n',
    'MD':'n',
    'PDT':'n',
    'POS':'n',
    'CC' :'n',
    'CD':'n'
}
print(TextBlob('learns').tags[0][1])
print(tag_mapping.get(TextBlob('learns').tags[0][1]))
# list =  df1["Synopsis"].apply(lambda x: [tag_mapping.get(TextBlob(word).tags[0][1]) for word in x])
# # print(list[0].index(None))
#'Yes' if fruit == 'Apple' else 'No'
#print(lemmatizer.lemmatize('who', pos='n' if tag_mapping.get(TextBlob('who').tags[0][1]) == None else tag_mapping.get(TextBlob('who').tags[0][1])))
# df1["Synopsis"] = df1["Synopsis"].apply(lambda x: [lemmatizer.lemmatize(word, pos=tag_mapping.get(TextBlob(word).tags[0][1])) for word in x])
# df1
lemmatizer.lemmatize('learns', pos='n')

NNS
n

'learns'

In [8]:
df1['Synopsis'] = df1['Synopsis'].apply(lambda x: " ".join(x))
df1

,Synopsis,Movie_Name
0,orphan boy enrolled school wizard where learns...,Harry Potter and the Sorcerer's Stone
1,american agent under false suspicion disloyalt...,Mission: Impossible

In [39]:
from fuzzywuzzy import fuzz

def find_movie_by_description(description, dataset):
    best_match = []

    for index, row in dataset.iterrows():
        ratio = fuzz.token_set_ratio(description, row['Synopsis'])
        if ratio > 50:
            best_match.append(row['Movie_Name'])

    return best_match

# Example usage
description = input("Enter the Movie Discription: ")

result = find_movie_by_description(description, df1)

if len(result) >0:
    print(result)
else:
    print('No records found')

No records found

In [32]:
# import openai, numpy as np
# openai.api_key = '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'
# resp = openai.Embedding.create(
#     input=["feline friends say", "meow"],
#     engine="text-similarity-davinci-001")

# embedding_a = resp['data'][0]['embedding']
# embedding_b = resp['data'][1]['embedding']

# similarity_score = np.dot(embedding_a, embedding_b)

In [116]:
text = 'Hi this 1 @ is a ter@m frequency'
text = "".join([word.lower() for word in re.sub(r"[^a-zA-Z]+", " ", text)])
#text = re.sub(' +', ' ', text)
text

'hi this is a ter m frequency'