In [1]:
import nltk
nltk.download("punkt")
nltk.download("stopwords")
nltk.download("wordnet")

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/parthramoliya/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/parthramoliya/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/parthramoliya/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [2]:
import pandas as pd
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [3]:
df = pd.read_csv('Movie-2023-06-15.csv')
df

,id,imdb_id,name,year,rating,certificate,duration,genre,votes,gross_income,...,director_name,starts_id,starts_name,description,url,payload,status,attempt,created,updated
0,c8de01ac-04c2-444a-9d9b-26cb213a9b2f,tt0241527,Harry Potter and the Sorcerer's Stone,2001,7.6,PG,152 min,"Adventure, Family, Fantasy","809,596",NaN,...,Chris Columbus,"nm0001321,nm0001749,nm0001059,nm1196732,nm0705...","Richard Harris,Maggie Smith,Robbie Coltrane,Sa...",An orphaned boy enrolls in a school of wizardr...,www.imdb.com/title/tt0241527,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:25:59
1,d76d12d5-caa4-4101-93da-52012300efa6,tt0117060,Mission: Impossible,1996,7.1,PG-13,110 min,"Action, Adventure, Thriller","438,381",NaN,...,Brian De Palma,"nm0000129,nm0000685,nm0000322,nm0001089,nm0000...","Tom Cruise,Jon Voight,Emmanuelle Bart,Henry Cz...","An American agent, under false suspicion of di...",www.imdb.com/title/tt0117060,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:25:48
2,b6e07841-25c9-49b8-b563-ef3007753017,tt0068646,The Godfather,1972,9.2,R,175 min,"Crime, Drama","1,910,007",NaN,...,Francis Ford Coppola,"nm0000008,nm0000199,nm0001001,nm0144710,nm0000...","Marlon Brando,Al Pacino,James Caan,Richard S. ...","Don Vito Corleone, head of a mafia family, dec...",www.imdb.com/title/tt0068646,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:25:40
3,9b175434-f80c-4d7a-a98d-e0551ba61af3,tt1201607,Harry Potter and the Deathly Hallows: Part 2,2011,8.1,PG-13,130 min,"Adventure, Family, Fantasy","900,765",NaN,...,David Yates,"nm0000146,nm0002091,nm0000614,nm0705356,nm0342...","Ralph Fiennes,Michael Gambon,Alan Rickman,Dani...","Harry, Ron, and Hermione search for Voldemort'...",www.imdb.com/title/tt1201607,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:25:32
4,ff11b3f0-c8cb-426b-a51b-0790bedbff8b,tt0090605,Aliens,1986,8.4,R,137 min,"Action, Adventure, Sci-Fi","732,746",NaN,...,James Cameron,"nm0000244,nm0001343,nm0000299,nm0001663,nm0000...","Sigourney Weaver,Carrie Henn,Michael Biehn,Pau...","Decades after surviving the Nostromo incident,...",www.imdb.com/title/tt0090605,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:25:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,0cf96760-1af3-463a-9be3-782356685573,tt0056172,Lawrence of Arabia,1962,8.3,Approved,218 min,"Adventure, Biography, Drama","300,954",NaN,...,David Lean,"nm0000564,nm0000027,nm0000063,nm0370144,nm0001...","Peter O'Toole,Alec Guinness,Anthony Quinn,Jack...","The story of T.E. Lawrence, the English office...",www.imdb.com/title/tt0056172,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:14:20
85,04b3a719-1b70-462a-b7c5-3fae85109e4b,tt0050825,Paths of Glory,1957,8.4,Approved,88 min,"Drama, War","202,149",NaN,...,Stanley Kubrick,"nm0000018,nm0576127,nm0579663,nm0534317,nm0606...","Kirk Douglas,Ralph Meeker,Adolphe Menjou,Georg...","After refusing to attack an enemy position, a ...",www.imdb.com/title/tt0050825,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:14:06
86,02311676-0ca3-4149-a40e-4346f0b910da,tt0364569,Oldboy,2003,8.4,R,120 min,"Action, Drama, Mystery","596,558",NaN,...,Park Chan-wook,"nm0158856,nm0949167,nm1367246,nm1366028,nm1203...","Choi Min-sik,Yoo Ji-tae,Kang Hye-jeong,Kim Bye...",After being kidnapped and imprisoned for fifte...,www.imdb.com/title/tt0364569,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:13:55
87,01e562bc-9e59-4019-806d-97deb6a82f2b,tt7286456,Joker,2019,8.4,R,122 min,"Crime, Drama, Thriller","1,352,676",NaN,...,Todd Phillips,"nm0001618,nm0000134,nm5939164,nm0175814,nm0191...","Joaquin Phoenix,Robert De Niro,Zazie Beetz,Fra...","The rise of Arthur Fleck, from aspiring stand-...",www.imdb.com/title/tt7286456,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:13:44
88,49cbfde7-589f-4f24-b052-5ef49c2c6cf7,tt0317248,City of God,2002,8.6,R,130 min,"Crime, Drama","771,436",NaN,...,"Fernando Meirelles, Kátia Lund","nm1179105,nm1129884,nm1249574,nm1179683,nm1178...","Alexandre Rodrigues,Leandro Firmino,Phellipe H...","In the slums of Rio, two kids' paths diverge a...",www.imdb.com/title/tt0317248,NaN,COMPLETED,0,2023-05-25 00:59:43,2023-06-15 17:13:35

In [4]:
df['description']

0     An orphaned boy enrolls in a school of wizardr...
1     An American agent, under false suspicion of di...
2     Don Vito Corleone, head of a mafia family, dec...
3     Harry, Ron, and Hermione search for Voldemort'...
4     Decades after surviving the Nostromo incident,...
                            ...
84    The story of T.E. Lawrence, the English office...
85    After refusing to attack an enemy position, a ...
86    After being kidnapped and imprisoned for fifte...
87    The rise of Arthur Fleck, from aspiring stand-...
88    In the slums of Rio, two kids' paths diverge a...
Name: description, Length: 89, dtype: object

Removing character and converting to lower case

In [5]:
df["description"] = df["description"].str.lower()
df["description"] = df["description"].apply(lambda x: re.sub(r"[^a-zA-Z]", " ", x))

Tokenize the text

In [6]:
df["description"] = df["description"].apply(lambda x: word_tokenize(x))
df["description"]

0     [an, orphaned, boy, enrolls, in, a, school, of...
1     [an, american, agent, under, false, suspicion,...
2     [don, vito, corleone, head, of, a, mafia, fami...
3     [harry, ron, and, hermione, search, for, volde...
4     [decades, after, surviving, the, nostromo, inc...
                            ...
84    [the, story, of, t, e, lawrence, the, english,...
85    [after, refusing, to, attack, an, enemy, posit...
86    [after, being, kidnapped, and, imprisoned, for...
87    [the, rise, of, arthur, fleck, from, aspiring,...
88    [in, the, slums, of, rio, two, kids, paths, di...
Name: description, Length: 89, dtype: object

Remove stop words

In [7]:
stop_words = set(stopwords.words("english"))
df["description"] = df["description"].apply(lambda x: [word for word in x if word not in stop_words])

Lemmatize the words

In [8]:
lemmatizer = WordNetLemmatizer()
df["description"] = df["description"].apply(lambda x: [lemmatizer.lemmatize(word) for word in x])

Join the tokens back into a sentence

In [9]:
df["description"] = df["description"].apply(lambda x: " ".join(x))
print(df["description"])

0     orphaned boy enrolls school wizardry learns tr...
1     american agent false suspicion disloyalty must...
2     vito corleone head mafia family decides hand e...
3     harry ron hermione search voldemort remaining ...
4     decade surviving nostromo incident ellen riple...
                            ...
84    story e lawrence english officer successfully ...
85    refusing attack enemy position general accuses...
86    kidnapped imprisoned fifteen year oh dae su re...
87    rise arthur fleck aspiring stand comedian pari...
88    slum rio two kid path diverge one struggle bec...
Name: description, Length: 89, dtype: object

In [10]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /Users/parthramoliya/opt/anaconda3/lib/python3.9/site-packages (0.18.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
from fuzzywuzzy import fuzz

def find_movie_by_description(description, dataset):
    best_match = []

    for index, row in dataset.iterrows():
        ratio = fuzz.token_set_ratio(description, row['description'])
        if ratio > 50:
            best_match.append(row['name'])

    return best_match

# Example usage
description = input("Enter the Movie Discription: ")
print(find_movie_by_description(description, df))

Enter the Movie Discription: orphan boy
["Harry Potter and the Sorcerer's Stone", 'The Dark Knight Rises', 'The Prestige', 'The Intouchables', 'Lawrence of Arabia']